@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:wght@200;300;400;600;700;800;900&display=swap");

:root {
  /* Colors */
  --background-menu: #212529;
  --color-button: #bc8c4c;
  --text-color: #adb5bd;
  --white: #fff;
  --black: #000;

  /* Breakpoints */
  --sm-small: 576px;
  --md-medium: 768px;
  --lg-large: 992px;
  --xl-extra: 1200px;

  /* fonts */
  --text-font: "Poppins", sans-serif;
  --title-font: "Nanum Gothic", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
  padding: 20px;
}

p a {
  display: inline;
}

li {
  list-style: none;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: var(--title-font);
  font-weight: bold;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

body {
  font-family: var(--text-font);
  overflow-x: hidden;
}

p {
  color: var(--text-color);
  margin-left: 10px;
}

.bold-text {
  font-weight: bold;
  color: rgb(87, 82, 82);
}

.btn__gold {
  background-color: var(--color-button);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
}

.btn__gold:hover {
  cursor: pointer;
  border: 1px solid white;
}

.golden__text,
.price__gold {
  color: var(--color-button);
}

.title-bold {
  font-weight: bold;
  color: black;
  padding: 10px 0;
}

/* Custom Properties */

/** HEADER */

.header {
  background-color: var(--background-menu);
  text-align: center;
  width: 100%;
}

.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-icon {
  margin-bottom: 10px;
  padding: 10px;
  width: 150px;
}

/* ! HEADER */

/** MAIN */

.main-logo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../resources/header.jpg);
  text-align: center;
  color: var(--white);
  padding: 80px 50px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-logo--img {
  width: 250px;
  padding: 20px;
}

.main-text {
  padding: 20px 0;
}

.main-logo--text {
  color: var(--white);
}
/* !main logo */

.working {
  text-align: center;
  font-size: 0.8rem;
  padding: 15px;
}

.section__working--text {
  padding: 11px;
}

.subtitle--working {
  margin-bottom: 10px;
}

.btn--working {
  margin-top: 10px;
}
/* !working */

.journey {
  text-align: center;
  font-size: 0.8rem;
  padding: 15px;
  display: flex;
  flex-direction: column-reverse;
}

.journey__images {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journey__img {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.journey h2 {
  padding: 10px 0;
}

.journey p {
  color: rgb(73, 72, 72);
}
/* !journey */

.special {
  text-align: center;
  background-image: url(../resources/style-4.png);
}

.special__text {
  padding: 10px 0;
}

.special__menu {
  text-align: center;
  font-size: 0.8rem;
  padding: 15px;
}

.menu__item--img {
  border-radius: 10px;
  overflow: hidden;
}

.menu__item--text {
  padding: 10px;
}
/* !special */

.main__menu {
  text-align: center;
  font-size: 0.8rem;
  padding: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../resources/section.jpg);
}

.subtitle-menu {
  color: white;
  padding: 10px 0;
}

.price__gold {
  padding: 10px 0;
}

.white {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
/* !main menu */

.chefs {
  text-align: center;
  font-size: 0.8rem;
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img__card {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.icons__card {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
}

.icon {
  width: 20px;
}
/* !chefs */

.testimonials {
  text-align: center;
  font-size: 0.8rem;
  padding: 15px;
}

.testimonials__text {
  padding: 15px 0;
}

.img__client {
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
}

.header__card {
  display: flex;
}
/* !testimonials */

.contact {
  text-align: center;
  font-size: 0.8rem;
  padding: 15px;
}

.contact__img {
  padding: 15px 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 20px;
  border: 1px solid gray;
  margin: 5px;
}
/* ! MAIN */

.footer {
  background-color: var(--background-menu);
  text-align: center;
  font-size: 0.8rem;
  padding: 15px;
}

.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__top--icon {
  width: 120px;
  padding: 10px 0;
}

.footer__icons {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}

.footer__icon1 {
  width: 30px;
}

/* ? Media Queries */

/* tablet */
@media screen and (min-width: 768px) {
  .header-top {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .header-icon {
    width: 120px;
  }

  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .ul {
    display: flex;
  }

  .header-top::after {
    content: "";
    position: absolute;
    top: 115px;
    width: 100%;
    height: 4px;
    background-color: gray;
  }

  .working {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .working__images {
    display: flex;
  }

  .journey {
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    justify-content: space-around;
  }

  .journey__images {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .journey__img {
    width: 170px;
  }

  .journey__text {
    width: 40%;
  }

  .special__menu {
    font-size: 1rem;
    text-align: center;
  }

  .menu__item {
    display: flex;
    justify-content: center;
  }

  .menu__item--img {
    width: 90px;
  }

  .special__text {
    text-align: center;
    position: relative;
    left: 35px;
  }

  .chefs {
    width: 100%;
  }

  .chefs__cards {
    display: flex;
    justify-content: space-around;
  }

  .icons__card {
    justify-content: space-evenly;
  }

  .testimonials {
    background-color: whitesmoke;
    min-height: 300px;
  }

  .client__card {
    background-color: white;
    width: 30%;
  }

  .client {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .client__card {
    border: 1px solid black;
  }

  .footer__top--icon {
    width: 80px;
  }

  .footer__top {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer__bottom {
    display: flex;
    align-items: center;
  }

  .footer__text {
    width: 50%;
  }

  .footer__icons {
    justify-content: space-evenly;
  }

  .footer__icon1 {
    width: 25px;
  }

  h2 {
    font-size: 1.2rem;
  }
}

/* laptop */
@media screen and (min-width: 1024px) {
  .header-top {
    justify-content: space-around;
  }
  .header-bottom {
    justify-content: space-around;
  }

  .main-title {
    font-size: 3.6rem;
  }
  /* header */

  .working {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  /* working */

  .journey {
    justify-content: space-around;
  }

  .journey__img {
    width: 33%;
  }

  .journey__text,
  .section__working--text {
    text-align: start;
  }
  /* journey */

  .card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
  }

  .chefs__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icons__card {
    justify-content: center;
  }

  .icon {
    margin: 0 5px;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .gray__text {
    font-size: 1rem;
  }

  .chefs__text {
    padding: 10px 0;
    margin: 10px 0;
  }
  /* chefs */

  .special__text {
    text-align: center;
  }

  .special__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    height: 500px;
  }

  .menu__item {
    display: flex;
    align-items: center;

    margin: 0 5px;
    text-align: left;
    width: 49%;
  }

  .menu__item--text {
    display: flex;
    flex-direction: column;
  }

  .item__text--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dotted rgb(97, 97, 201);
    padding: 10px;
  }

  .menu__item--img {
    width: 70px;
  }
  /* special */

  .main.menu {
    padding: 20px;
    position: relative;
  }

  .subtitle-menu {
    padding: 10px 0;
    margin: 10px 0;
  }

  .btn-main {
    position: relative;
    left: 50%;
  }
  /* main menu */

  .testimonials {
    background-color: whitesmoke;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .testimonials__text {
    text-align: center;
    position: relative;
    top: 50px;
  }

  .client {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .client__card {
    background-color: var(--white);
    border: 1px solid rgb(95, 93, 93);
    width: 30%;
    padding: 15px;
  }

  .img__client {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  .header__card {
    display: flex;
    justify-content: flex-start;
  }

  .title__client {
    margin-left: 5px;
  }
  /* testimonials */

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .contact__img {
    width: 500px;
  }

  .input {
    padding: 20px;
    border: 1px solid gray;
    margin: 5px;
  }
  /* form */

  .footer {
    width: 100%;
    background-color: var(--background-menu);
  }

  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    position: relative;
  }

  .footer__top--icon {
    width: 100px;
  }

  .footer__bottom {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
  }

  .footer__icons {
    display: flex;
    width: 20%;
    justify-content: space-around;
  }

  .footer__icon1 {
    width: 30px;
  }

  .footer__top::after {
    content: "";
    position: absolute;
    top: 130px;
    width: 100%;
    height: 4px;
    background-color: gray;
  }
}
